@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: linear-gradient(to right, #B496DB, #564787);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(3, 18, 14, 0.651);
    max-width: 600px;
    padding: 20px;
    margin: auto;
}

#logo {
    display: flex;
    margin: auto;
}

.botao#comecar {
    background-color: #D6A5E8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    width: 7em;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 1px rgba(15, 25, 54, 0.644);
}

.botao#comecar:hover {
    box-shadow: 0px 0px 0px  rgba(15, 25, 54, 0.644);
    transform: translate(3px, 3px);
    background-color: #916d9e;
    color: '#eeeeee';
}

.menu#options {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(15, 25, 54, 0.644);
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 15px;
    height: 15px;
}

#sobre {
    text-align: center;
    font: normal normal 16px Kanit;
}

.botao#strokes {
    display: flex;
    filter: invert();
    margin-right: auto;
    block-size: 40px;
    transform: translate(-1%, -25%);
    width: 3em;
}

.menu#strokeOptions {
    display: none;
    position: absolute;
    background-color: white;
    height: 500px;
    width: 200px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translate(-20px, -12px);
    box-shadow: 20px 60px 30px rgba(0, 0, 0, 0.308);
}

.botao#strokes:hover + .menu#strokeOptions{
    display: block;
}

.menu#strokeOptions:hover {
    display: block;
}

.login#LGtexts > #signUp {
    cursor: pointer;
}

.login#LGtexts > #logIn {
    cursor: pointer;
}

.login#LGtexts > #signUp:hover {
    color: red;
}

.login#LGtexts > #logIn:hover {
    color: red;
}

.login#options {
    margin: auto;
    font: normal bold 16px Kanit;
    text-align: center;
}

.botao#logar {
    background-color: #D6A5E8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22em;
    display: flex;
    justify-content: center;
    width: 7em;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 1px rgba(15, 25, 54, 0.644);
}

.botao#logar:hover {
    box-shadow: 0px 0px 0px  rgba(15, 25, 54, 0.644);
    transform: translate(3px, 3px);
    background-color: #916d9e;
    color: '#eeeeee';
}

.botao#registrar {
    background-color: #D6A5E8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    width: 7em;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 1px rgba(15, 25, 54, 0.644);
}

.botao#registrar:hover {
    box-shadow: 0px 0px 0px  rgba(15, 25, 54, 0.644);
    transform: translate(3px, 3px);
    background-color: #916d9e;
    color: '#eeeeee';
}